<div class="calendar-container">
    <p class="mensaje availability-message">Estas son las fechas disponibles para <br>este mes de Agosto</p>

    <div class="calendar">
        <div class="month d-flex justify-content-center">
            <!-- <span class="prev">&#10094;</span> -->
            <span class="month-name"> Agosto 2024</span>
            <!-- <span class="next">&#10095;</span> -->
        </div>
        <div class="weekdays">
            <div>Lun</div>
            <div>Mar</div>
            <div>Mié</div>
            <div>Jue</div>
            <div>Vie</div>
            <div>Sáb</div>
            <div>Dom</div>
        </div>
        <div class="days">
            <div class="day empty"></div>
            <div class="day empty"></div>
            <div class="day empty"></div>


            <div class="day unavailable">1</div>
            <div class="day unavailable">2</div>
            <div class="day unavailable">3</div>
            <div class="day unavailable">4</div>
            <div class="day unavailable">5</div>
            <div class="day unavailable">6</div>
            <div class="day unavailable">7</div>
            <div class="day unavailable">8</div>
            <div class="day unavailable">9</div>
            <div class="day unavailable">10</div>
            <div class="day unavailable">11</div>
            <div class="day unavailable">12</div>
            <div class="day unavailable">13</div>
            <div class="day unavailable">14</div>
            <div class="day unavailable">15</div>
            <div class="day unavailable">16</div>
            <div class="day unavailable">17</div>
            <div class="day unavailable">18</div>
            <div class="day unavailable">19</div>
            <div class="day unavailable">20</div>

            <div class="day available">21</div>
            <div class="day available">22</div>
            <div class="day available">23</div>
            <div class="day available">24</div>
            <div class="day available">25</div>
            <div class="day available">26</div>
            <div class="day available">27</div>
            <div class="day available">28</div>
            <div class="day available">29</div>
            <div class="day available">30</div>
            <div class="day available">31</div>
        </div>
    </div>

    <div class="espacio legend">
        <div class="legend-item">
            <span class="dot unavailable"></span>
            <span>Fecha no disponible </span>
        </div>
        <div class="legend-item">
            <span class="dot available"></span>
            <span>Fecha disponible </span>
        </div>
    </div>
</div>