<div class="container mt-5">
    <div class="text-center">
        <h2 class="titulo mb-4">Descuentos por Grupos</h2>
        <p class="texto">¡Viaja en grupo y ahorra! Reúne a tus amigos y familiares para disfrutar de descuentos
            especiales en tu próxima aventura. ¡Cuantos más seamos, más ahorramos!</p>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/descuentos/primer descuento.jpg" class="card-img-top" style="padding: 10px;"
                    alt="">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-success">Grupo de 5-9 Personas</h5>
                    <p class="card-text">¡Aprovecha un 10% de descuento en tu reserva!</p>
                    <a href="#" class="btn btn-primary mt-auto">Reservar Ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/descuentos/segundo descuento.jpg" class="card-img-top" style="padding: 10px;"
                    alt="">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-success">Grupo de 10-14 Personas</h5>
                    <p class="card-text">Disfruta de un 15% de descuento en tu viaje!</p>
                    <a href="#" class="btn btn-primary mt-auto">Reservar Ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/descuentos/tercer descuento.jpeg" class="card-img-top" style="padding: 10px;"
                    alt="">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-success">Grupo de 15+ Personas</h5>
                    <p class="card-text">Obtén un 20% de descuento en tu aventura!</p>
                    <a href="#" class="btn btn-primary mt-auto">Reservar Ahora</a>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">Para más información y reservas, contáctanos.</p>
</div>