<div id="pepe">
    <div class="main-box">

        <div class="container letra pb-5 pt-2">
            <div class="botones bg-white d-flex justify-content-center p-2 mt-2 title-titulo">
                <span class="pacifico">
                    PACIFICO
                </span>
            </div>
            <section class="row row-cols-1 row-cols-md-4 g-4 pt-3 card-pict ">

                <div class="col ">
                    <div class="card carta-color h-100">
                        <h5 class="card-title">Bahía Solano</h5>
                        <img src="assets/img/pacifico/bahía solano.jpg" style="padding: 10px;"
                            class="card-img-top tarjetas-imagenes" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Destino costero famoso por sus
                                playas, biodiversidad, avistamiento de ballenas
                                jorobadas y ecoturismo. Ideal para
                                amantes de la naturaleza y aventura.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn-fechas btn ">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card carta-color h-100 ">
                        <h5 class="card-title">Nuquí</h5>
                        <img src="assets/img/pacifico/nuqui.jpg" style="padding: 10px;"
                            class="card-img-top tarjetas-imagenes" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Pueblo costero en Chocó,
                                conocido por playas vírgenes, surf, avistamiento de
                                ballenas y aguas termales. Un refugio
                                natural para relajarse y explorar.
                            </p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn-fechas btn">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn-reservar btn ">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 carta-color">
                        <h5 class="card-title">Buenaventura</h5>
                        <img src="/assets/img/imgPacifico/PARQUE NATURAL PACIFICO1.jpg"
                            class="card-img-top tarjetas-imagenes" style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Principal puerto de Colombia
                                en el Pacífico, rodeado de selva tropical y
                                manglares. Ofrece turismo ecológico, playas y
                                cultura afrocolombiana rica y vibrante.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 carta-color">
                        <h5 class="card-title">Gorgona</h5>
                        <img src="/assets/img/imgPacifico/playa1.jpg" class="card-img-top tarjetas-imagenes"
                            style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Isla en el Pacífico con parque nacional marino, playas, senderismo y
                                buceo. Famosa por rica biodiversidad y conservación
                                de fauna y flora.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>