<div id="pepe">
    <div class="main-box">

        <div class="container letra pb-5 pt-2">
            <div class="botones bg-white d-flex justify-content-center p-2 mt-2 title-titulo">
                <span class="pacifico">
                    PACIFICO
                </span>
            </div>
            <section class="row row-cols-1 row-cols-md-4 g-4 pt-3">
                <div *ngFor="let destino of destinos; trackBy: trackById" class="col">
                  <div *ngIf="destino.zona === 'pacifico'" class="card carta-color">
                    <h5 class="card-title">{{ destino.nombre }}</h5>
                    <img [src]="destino.imagenes[0]" class="card-img-top tarjetas-imagenes" style="padding: 10px;" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{ destino.descripcion }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                      <button type="button" class="btn btn-fechas" (click)="openDateModal(destino)">Fecha</button>
                      <a [routerLink]="['/admin/reservas']" [queryParams]="{ fecha: selectedDate, destino: destino.nombre }" class="btn btn-reservar">Reservar</a>
                    </div>
                  </div>
                </div>
              </section>
        </div>
        <div *ngIf="isModalOpen" class="modal-overlay">
            <div class="modal show d-block" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Selecciona una Fecha</h5>
                    <button type="button" class="close" (click)="closeModal()">
                      <span>&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group">
                      <li *ngFor="let fecha of availableDates" class="list-group-item" (click)="selectDate(fecha)">
                        {{ fecha | date:'yyyy-MM-dd' }}
                      </li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="confirmDate()">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>