<div id="pepe">
    <div class="main-box">
        <div class="container letra pb-5 pt-2">
            <div class="botones bg-white d-flex justify-content-center p-2 mt-4  title-titulo">
                <span class="atlantico">
                    ATLANTICO
                </span>
            </div>

            <section class="row row-cols-1 row-cols-md-4 g-4 pt-3">

                <div class="col">
                    <div class="card carta-color h-100">
                        <h5 class="card-title">Barranquilla</h5>
                        <img src="assets/img/imgAtlantico/barranquilla.jpg" class="card-img-top tarjetas-imagenes"
                            style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Ciudad costera famosa por su carnaval, rica cultura caribeña, vida
                                nocturna vibrante y su puerto industrial. Ideal para
                                festivales y gastronomía.

                            </p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar p-2">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card carta-color h-100">
                        <h5 class="card-title">Cartagena de Indias</h5>
                        <img src="/assets/img/imgAtlantico/cartagena.webp" class="card-img-top tarjetas-imagenes"
                            style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Ciudad histórica con murallas
                                coloniales, playas hermosas, arquitectura
                                encantadora y cultura vibrante. Ideal para
                                turismo histórico y playas paradisíacas.
                            </p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas p-2">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 carta-color">
                        <h5 class="card-title">Santa Marta</h5>
                        <img src="/assets/img/imgAtlantico/Sierra Nevada.jpg" class="card-img-top tarjetas-imagenes"
                            style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Ciudad costera con playas,
                                historia colonial, Parque Tayrona cercano, y punto
                                de acceso a la Sierra Nevada. Perfecta
                                para naturaleza y aventura.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 carta-color">
                        <h5 class="card-title">Isla de San Andrés</h5>
                        <img src="assets/img/imgAtlantico/sanAndres.jpg" class="card-img-top tarjetas-imagenes"
                            style="padding: 10px;" alt="...">
                        <div class="card-body">
                            <p class="card-text ">Isla caribeña conocida por sus
                                playas cristalinas, arrecifes de coral, cultura
                                isleña única y deportes acuáticos. Ideal
                                para relajación y buceo.</p>
                        </div>
                        <div class="card-footer  d-flex justify-content-between">
                            <a class="btn btn-fechas">Ver fechas</a>
                            <a routerLink="/admin/reservas" class="btn btn-reservar">Reservar</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>